@{
    ViewData["Title"] = "Home Page";
}

@model AudioProject.Models.AudioModel;

<div class="text-center">
    <h3><label class="textcolor p-2">My Playlist :</label></h3>

    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PlaylistModel Playlist in ViewData["Playlist"] as List<PlaylistModel>)
                {
                    <form method="post">
                        <tr>
                            <td>@Playlist.NamePlaylist</td>
                            <td>@Playlist.Description</td>
                            <td>
                                <input type="submit" class="btn btn-class m-1" value="Edit" asp-controller="Playlist" asp-action="Edit" />
                                <input type="submit" class="btn btn-class m-1" value="Delete" asp-controller="Playlist" asp-action="Delete" />
                                <input type="hidden" name="PlaylistId" value="@Playlist.ID" />
                            </td>
                        </tr>
                    </form>
                }
            </tbody>
        </table>
     </div>
</div>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="~/js/song.js"></script>